.fall {
}

.fade-and-fall {
  animation: fade-and-fall 2s forwards;
  position: relative;
}

@keyframes fade-and-fall {
  0% {
    opacity: 1;
    bottom: 0px;
  }
  100% {
    bottom: -300px;
    opacity: 0;
    visibility: hidden;
  }
}
