@import-normalize;

body {
  margin: auto 20%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blue {
  color: lightskyblue;
}
.bg-blue {
  background-color: rgb(70, 119, 209);
}
.white {
  color: #fff;
}
.bg-success {
  background-color: rgb(55, 187, 61);
}
.bg-danger {
  background-color: rgb(255, 106, 47);
}
